@model Jogador
@{
    ViewData["Title"] = "Jogadores";
    Equipe equipe = new Equipe();
}

<section class="banner_cadastro2">
    <h1>Cadastro de Jogadores</h1>
</section>
<section class="formulario formulario2">
    <nav class="cadastro cadastro2">
        <form class="times2 times">
            <div>
                <label>Nome do jogador</label><br>
                <input class="altura" type="text">
            </div>
            <div>
                <label>Email</label><br>
                <input class="altura" type="text">
            </div>
            <div>
                <label>Senha</label><br>
                <input class="altura" type="password">
            </div>
            <div>
                <label>Equipe</label><br>
                <select class="altura" name="Equipe">
                    <option>SENAI Cytechs</option>
                    <option>Flamengo</option>
                    <option>INTZ</option>
                    <option>RED Canids</option>
                    <option>Kabum eSports</option>
                </select>
            </div>
            <button class="button button2">Cadastrar</button>

        </form>
        <div class="lista_times">
            <h2>Lista de Jogadores</h2>
            <table class="equipes equipes2">
                <tr>
                    <th>Nome do Jogador</th>
                    <th>Equipe</th>
                </tr>
                <tr>
                    <td>Thiago</td>
                    <td>SENAI Cytechs</td>
                </tr>
                <tr>
                    <td>Odirlei</td>
                    <td>SENAI Cytechs</td>
                </tr>
            </table>
        </div>
    </nav>
</section>


@* <form method="POST" action='@Url.Action("CadastrarJogador")'>
    <label>Equipe</label>
    <select name="EquipeJ">
    @foreach (Equipe item in ViewBag.Equipe)
    {
    <option value="@item.IdEquipe">@item.Nome</option>
    }
    </select>

    <label>Nome</label>
    <input type="text" name="NomeJ">

    <label>Id</label>
    <input type="text" name="IdJogador">

    <button type="submit">Cadastrar</button>
    </form>
    <table class="table table-striped table-responsive">
    <thead>
    <th>ID da equipe</th>
    <th>Nome</th>
    <th>ID do jogador</th>
    </thead>
    <tbody>
    @foreach (Jogador item in ViewBag.Jogador)
    {
    <tr>
    <td>@item.IdEquipe</td>
    <td>@item.Nome</td>
    <td>@item.IdJogador</td>
    </tr>
    }
    </tbody>
    </table> *@